
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Light.eot');
    src: local('../fonts/Objectivity Light'), local('Objectivity-Light'),
        url('../fonts/Objectivity-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Light.woff2') format('woff2'),
        url('../fonts/Objectivity-Light.woff') format('woff'),
        url('../fonts/Objectivity-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Regular.eot');
    src: local('../fonts/Objectivity Regular'), local('Objectivity-Regular'),
        url('../fonts/Objectivity-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Regular.woff2') format('woff2'),
        url('../fonts/Objectivity-Regular.woff') format('woff'),
        url('../fonts/Objectivity-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Medium.eot');
    src: local('../fonts/Objectivity Medium'), local('Objectivity-Medium'),
        url('../fonts/Objectivity-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Medium.woff2') format('woff2'),
        url('../fonts/Objectivity-Medium.woff') format('woff'),
        url('../fonts/Objectivity-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Bold.eot');
    src: local('../fonts/Objectivity Bold'), local('Objectivity-Bold'),
        url('../fonts/Objectivity-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Bold.woff2') format('woff2'),
        url('../fonts/Objectivity-Bold.woff') format('woff'),
        url('../fonts/Objectivity-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/Objectivity-Thin.eot');
    src: local('../fonts/Objectivity Thin'), local('Objectivity-Thin'),
        url('../fonts/Objectivity-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Objectivity-Thin.woff2') format('woff2'),
        url('../fonts/Objectivity-Thin.woff') format('woff'),
        url('../fonts/Objectivity-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body{font-family: 'Objectivity';}
.inner-box {
	display: flex;
	justify-content: space-between;
}
.box {
	width: 25%;height: 100%;	border-left: 1px solid #f3f4f3;
	border-right: 1px solid #f3f4f3;
}
.box h2 {
	text-align: center;
	color: #ffff;
	padding: 10px;font-size: 13px;
    font-weight: 500;
}
.box1 h2 {	background: #0070bd;}
.box2 h2 {	background: #f48a26;}
.box3 h2 {	background: #fbaf17;}
.box4 h2 {	background: #38b54a;}

.box1 p {	color: #0070bd;}
.box2 p {	color: #f48a26;}
.box3 p {	color: #fbaf17;}
.box4 p {	color: #38b54a;}
.peragraph {
	background: #000;
	padding: 20px;min-height: 100px;font-size: 13px;
    line-height: 20px;
}

/************responsive************/
@media  screen and (max-width: 1024px) {
    .image-box h4 {
        font-size: 1.5vh !important;
    }
}
@media  screen and (max-width: 991px) {
.peragraph {
	height: 150px !important;
}
}
@media  screen and (max-width: 767px) {
.inner-box{
	flex-wrap: wrap;
}
.box {
	width: 100%;
}
.peragraph {
	height: auto !important;
	text-align: center !important;
}
.bottom-inner {
	min-height: 120px !important;
	flex-wrap: wrap;
}
.bottom-box {
	display: none;
}
.box-inner-botom.box-bottom-3 .image-box-main {
	left: 10% !important;
}
.image-box-main, .box-bottom-green .image-box-main {
	width: 70% !important;
}
.image-box-main h3 {
	font-size: 14px !important;
}
.image-box h4 {
	font-size: 14px;top: 48% !important;
}
}
@media  screen and (max-width: 599px) {
.box-inner-botom.box-bottom-3 .image-box-main {
	left: 0 !important;
}
.bottom-inner {
	min-height: 150px !important;
}
.image-box-main, .box-bottom-green .image-box-main {
	width: 100% !important;
}
}